html {
  font-size: 16px;
  font-family: 'Press Start 2P', cursive;
}

.sidebar {
  padding-top: 20px;
  position: fixed;
}

.logo {
  display: block;
  max-width: 336px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.nav {
  margin: 40px 0 0;
  padding: 0 0 0 48px;
  overflow: hidden;
  list-style: none;
}

.wrapper {
  padding-right: 20px;
  position: relative;
  margin-left: 400px;
}

.wrapper h1 {
  margin-top: 0;
  padding: 50px 0 20px 0;
  text-transform: lowercase;
}

body {
  margin: 0;
  padding: 0 30px 30px;
}

a {
  color: inherit;
}

.post-link {
  text-transform: lowercase;
  display: block;
  max-width: 400px;
  padding: 20px 30px;
  margin-bottom: 10px;
  border: 2px dotted red;
}

.post-link:hover {
  background: red;
  color: white;
  border: 2px dotted white;
}

.post-link:nth-child(4n+1) {
  border-color: aqua;
  border-style: outset;
}

.post-link:nth-child(4n+1):hover {
  background: aqua;
  color: inherit;
  border: 2px outset white;
}

.post-link:nth-child(4n+2) {
  border-color: magenta;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 0 0 1px white, 0 0 0 2px magenta;
}

.post-link:nth-child(4n+2):hover {
  background: magenta;
  color: white;
}

.post-link:nth-child(4n+3) {
  border-color: yellow;
  border-style: groove;
}

.post-link:nth-child(4n+3):hover {
  background: yellow;
  color: inherit;
}

.post-body {
  line-height: 1.3em;
  max-width: 700px;
}

.post-body img {
  max-width: 100%;
  display: block;
  margin-bottom: 10px;
}

.post-body a:nth-of-type(4n) {
  color: red;
}

.post-body a:nth-of-type(4n+1) {
  color: magenta;
}

.post-body a:nth-of-type(4n+2) {
  color: blue;
}

.post-body a:nth-of-type(4n+3) {
  color: green;
}

blockquote {
  font-size: 1.2em;
  font-style: italic;
  line-height: 1.5em;
  margin: 2em 0;
  padding: 0 1em;
  border-left: 4px dashed blue;
}

video {
  width: 100%;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.video-container.skinny {
  padding-bottom: 43.076923%;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5em;
  background-size: 100% 100%;
}

.icon.doc {
  background-image:url(/otter-pop/img/doc.png);
}

.icon.info {
  background-image:url(/otter-pop/img/info.png);
}

.icon.code {
  background-image:url(/otter-pop/img/code.png);
}

.icon.link {
  background-image:url(/otter-pop/img/link.png);
}

.icon.twitter {
  background-image:url(/otter-pop/img/twitter.png);
}

.icon.github {
  background-image:url(/otter-pop/img/github.png);
}

.nav a {
  margin-right: 32px;
  margin-bottom: 32px;
  display: block;
  float: left;
  height: 32px;
}

.nav a {
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 57.25rem) {
  .sidebar {
    position: static;
    margin: auto;
    max-width: 21rem;
  }

  .wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 29rem;
  }

  .wrapper h1 {
    margin-top: 0;
    padding-top: 20px;
    text-align: center;
  }

  .nav {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 5px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 3rem;
  }

  .nav {
    padding-top: 0.3em;
    height: 4rem;
    text-align: center;
  }

  .nav a {
    float: none;
    margin-bottom: 10px;
    margin-right: 10px;
  }

  .nav li {
    display: inline-block;
    font-size: 0.7em;
  }

  .logo img {
    display: block;
    max-width: 100%;
    margin: 4rem auto 0;
  }
}

@media screen and (max-width: 33.125rem) {
  .logo img {
    max-width: 60%;
  }
}
